* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* border: 3px solid black; */
}

html {
    display: flex;
    justify-content: center;
    align-items: center;

    min-height: 100vh;

    background-color: rgb(213, 213, 213);
}


body {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    width: 947.25px;
    height: 600px;

    overflow: scroll;
}

.image-container {  
    flex: 1 1;
    background-image: url("./images/leaves.jpg");
    background-size: cover;

    width: 300px;
    position: relative;
}

.image-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;

    position: absolute;
    top: 20%;

    height: 10%;
    width: 100%;

    background-color: rgb(0, 0, 0, 0.5);
    overflow: hidden;
}

.image-title > img {
    height: 100%;
    width: auto;

    object-fit: cover;
}

.image-title > p {
    color: white;
    font-size: 54px;
}

.content-container {
    flex: 2 1;

    background-color: white;
}
