* {
    margin: 0;
    padding: 0;

}

html {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    background-color: rgb(213, 213, 213);
    box-sizing: border-box;
}


body {
    display: flex;
    justify-content: stretch;
    align-items: stretch;

    width: 1263px;
    height: 800px;
    box-sizing: border-box;
}

.image-container {  
    flex: 1 1;
    background-image: url("./images/leaves.jpg");
    background-size: cover;

    width: 400px;
}

.content-container {
    flex: 2 1;

    background-color: white;
}
